<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../output.css" rel="stylesheet" />
  </head>
  <body>
    <header
      class="flex shadow-md bg-amber-200 md:tracking-wide md:min-h-[70px] md:z-50"
    >
      <!--SunRise Name-->
      <div
        class="basis-1/2 md:basis-1/4 flex flex-nowrap items-center md:justify-between w-full"
      >
        <div class="basis-1/2 md:basis-1/4 md:self-center">
          <a href="../index.html">
            <h3
              class="font-bold text-green-400 antialiased text-center text-2xl md:text-7xl"
            >
              SunRise
            </h3>
          </a>
        </div>
      </div>

      <!--Below 768px Open Main Menu-->
      <div
        id="openmenu"
        class="basis-1/2 flex justify-end items-center mr-6 md:hidden z-10"
      >
        <button>
          <svg
            class="w-6 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"
            />
          </svg>
        </button>
      </div>

      <!--Below 768px Side Nav Bar-->
      <div class="md:hidden" role="dialog" aria-modal="true">
        <!-- <div class="fixed inset-0 z-10"></div> -->
        <div
          id="sidemenu"
          class="fixed inset-y-0 right-0 z-50 transition-all duration-500 overflow-y-auto bg-amber-200 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
          style="width: 0"
        >
          <div id="closemenu" class="flex items-center justify-end">
            <button type="button" class="-m-1.5 rounded-md p-2.5 text-gray-700">
              <span class="sr-only">Close menu</span>
              <svg
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18 18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
          <div class="mt-6 flow-root">
            <div class="-my-6 divide-y divide-gray-500/10">
              <div class="space-y-2 py-6">
                <a
                  href="../index.html"
                  class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50 text-center border-b-4 border-green-400"
                  >Home</a
                >
                <a
                  href="#"
                  class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50 text-center border-b-4 border-green-400"
                  >About</a
                >
                <a
                  href="#"
                  class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50 text-center border-b-4 border-green-400"
                  >Contact</a
                >
                <a
                  href="#"
                  class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50 text-center border-b-4 border-green-400"
                  >Team</a
                >
              </div>
              <div class="py-6 text-center">
                <a
                  href="Login.html"
                  class="-mx-3 block rounded-lg px-3 py-2.5 font-semibold leading-7 text-gray-900 hover:bg-gray-50 bg-gradient-to-br from-green-400 via-green-100 to-green-200"
                  >Log in</a
                >
              </div>

              <div class="py-6 text-center">
                <a
                  href="#"
                  class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50 bg-gradient-to-br from-green-400 via-green-100 to-green-200"
                  >Book A Session</a
                >
              </div>

              <img
                class="relative mx-auto my-6"
                src="../images/SunRise.png"
                height="180px"
                width="180px"
              />
            </div>
          </div>
        </div>

        <!--Above 768px Header Menu -->
        <div
          class="hidden md:flex basis-2/4 flex-wrap justify-center items-center gap-5 cursor-pointer text-green-400 font-medium text-xl"
        >
          <a class="hover:underline hover:font-bold" href="../index.html"
            >Home</a
          >
          <a class="hover:underline hover:font-bold" href="#">About</a>
          <a class="hover:underline hover:font-bold" href="#">Contact</a>
          <a class="hover:underline hover:font-bold" href="#">Team</a>
        </div>

        <!--Above 768pxLogin Button in Header Menu-->
        <div
          class="md:basis-1/4 cursor-pointer text-green-400 md:font-medium md:text-xl hidden md:flex md:justify-center items-center md:hover:font-extrabold"
        >
          <a href="/Views/Login.html">Login</a>
          <svg
            class="h-8 w-8 text-green-400"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" />
            <path
              d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"
            />
            <path d="M20 12h-13l3 -3m0 6l-3 -3" />
          </svg>
        </div>
      </div>

      <!--Above 768px Header Menu -->
      <div
        class="hidden md:flex basis-2/4 flex-wrap justify-center items-center md:gap-5 cursor-pointer text-green-400 font-medium text-xl"
      >
        <a class="hover:underline hover:font-bold" href="../index.html">Home</a>
        <a class="hover:underline hover:font-bold" href="#">About</a>
        <a class="hover:underline hover:font-bold" href="#">Contact</a>
        <a class="hover:underline hover:font-bold" href="#">Team</a>
      </div>

      <!--Above 768pxLogin Button in Header Menu-->

      <div
        class="md:basis-1/4 cursor-pointer text-green-400 md:font-medium md:text-xl hidden md:flex md:justify-center items-center md:hover:font-extrabold"
      >
        <a class="z-50" href="Login.html">Login</a>
        <svg
          class="h-8 w-8 text-green-400"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" />
          <path
            d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"
          />
          <path d="M20 12h-13l3 -3m0 6l-3 -3" />
        </svg>
      </div>
    </header>
    <div class="bg-green-400 w-full h-4">&nbsp;</div>
    <div id="page-body" class="bg-amber-100 min-h-screen">
      <h1>About Us Page</h1>
      <div>
        <p>
          Welcome to SunRise Therapy At SunRise Therapy, we believe in the
          transformative power of therapy. Founded with a passion for mental
          health and wellness, SunRise Therapy aims to be a beacon of hope and
          healing for individuals seeking support and guidance through life's
          challenges. Our Mission Our mission at SunRise Therapy is to provide
          compassionate and effective therapeutic services tailored to meet the
          unique needs of each client. We strive to create a safe and nurturing
          environment where individuals can explore their emotions, develop
          coping strategies, and foster personal growth. Who We Are SunRise
          Therapy is not just a therapy practice; we are a dedicated team of
          licensed therapists and mental health professionals committed to
          making a positive impact in the lives of our clients. With years of
          experience and expertise in various therapeutic modalities, our team
          brings a wealth of knowledge and a deep understanding of human
          behavior and mental health. What We Believe At the heart of SunRise
          Therapy is our belief in the inherent strength and resilience of every
          individual. We believe that everyone deserves to live a fulfilling and
          meaningful life, free from the burden of untreated mental health
          issues. Through evidence-based practices and a client-centered
          approach, we empower our clients to overcome challenges, heal from
          past traumas, and achieve their personal goals. Our Approach Our
          therapeutic approach is holistic, addressing the interconnectedness of
          mind, body, and spirit. We offer a range of therapeutic services,
          including individual therapy, couples counseling, family therapy, and
          group sessions. Whether you are struggling with anxiety, depression,
          relationship issues, or trauma, our therapists are here to provide you
          with the support and guidance you need on your journey towards healing
          and self-discovery. Why Choose Us Choosing the right therapist is an
          important decision. At SunRise Therapy, we prioritize building strong
          therapeutic relationships based on trust, empathy, and mutual respect.
          Our therapists are dedicated to creating a supportive and
          non-judgmental space where you can explore your thoughts and feelings
          openly and honestly. Community Engagement Beyond our individual
          therapy sessions, SunRise Therapy is actively involved in community
          outreach and mental health advocacy. We believe in raising awareness
          about mental health issues, reducing stigma, and promoting mental
          wellness for all. Through workshops, seminars, and partnerships with
          local organizations, we strive to educate and empower our community to
          prioritize mental health. Our Commitment to You Your well-being is our
          priority. Whether you are seeking therapy for yourself, your
          relationship, or your family, we are committed to providing you with
          personalized care and effective treatment options. Our goal is to help
          you navigate life's challenges with resilience and regain a sense of
          balance and fulfillment. Get Started If you are ready to take the
          first step towards a healthier and happier life, we invite you to
          contact us to schedule a consultation. Together, we can embark on a
          journey of healing and growth. Let SunRise Therapy be your partner in
          wellness.
        </p>
      </div>
    </div>
  </body>
</html>
<script type="text/javascript" src="../Script/header.js"></script>
